*{
    margin: 0;
    padding: 0;
    }

    :root{
        --cor1:#0069b4;
        --cor2:#008AED;
    }

    body{
        background-image: url(imagens/inicio.jpg);
    }

    header{
        background-color: var(--cor1);
        color: white;
        font-family: Arial, Helvetica, sans-serif;  
        display: flex;
        box-shadow: 1px 1px 10px black;
    }

    h1{
        margin: auto;
        padding-right: 320px; 
    }

    /*Aqui você irá encontrar...*/
    main h4{
        text-align: center;
        padding: 30px;
        background-color: var(--cor2);
        margin: 20px 50px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        box-shadow: 1px 1px 10px black;
        font-size: 1.1em;
    }

    /*Desenvolvimento*/
    #dev{
        text-align: center;
        background-color: var(--cor1);
        width: 260px;
        margin: 7px 39%;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        border-radius: 10px;
        padding: 10px;
        font-weight: bold;
        box-shadow: 1px 1px 10px black;
        display: inline-block;
    }

    main a{
        text-decoration: none;
    }

    /*Efeito ao passar o mouse*/
    #dev:hover{
        background-color: rgba(0, 0, 0, 0.404);
        border: 1px solid white;
    }
    
    footer{
        background-color: var(--cor2);
        color:white;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        width: 100%;
        position: absolute;
        bottom: 0;              
    }
