*{
    margin: 0;
    padding: 0;
    }

    :root{
        --cor1:#0069b4;
        --cor2:#008AED;
        --cor3:#d80520;
        --cor4:#40cedb;
        --cor5:#8340db;
    }

    body{
        background-image: url(imagens/dev.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #0d2f4b;
    }

    header{
        background-color: var(--cor1);
        color: white;
        font-family: Arial, Helvetica, sans-serif;  
        display: flex;
        box-shadow: 1px 1px 10px black;
    }

    h1{
        margin: auto;
        padding-right: 320px;  
    }

    main h4{
        text-align: center;
        padding: 30px;
        background-color: var(--cor2);
        margin: 20px 50px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        box-shadow: 1px 1px 10px black;
        font-size: 1.1em;
    }

    main a{
        text-decoration: none;
    }

    #desk {
        text-align: center;
        background-color: var(--cor3);
        width: 260px;
        margin: 7px 39%;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        border-radius: 10px;
        padding: 10px;
        font-weight: bold;
        box-shadow: 1px 1px 10px black;
        display: inline-block;
    }

    abbr{
        text-decoration: none;
    }

    #ambos{
        text-align: center;
        background-color: var(--cor5);
        width: 260px;
        margin: 7px 39%;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        border-radius: 10px;
        padding: 10px;
        font-weight: bold;
        box-shadow: 1px 1px 10px black;
        display: inline-block;
    }

    #web{
        text-align: center;
        background-color: var(--cor4);
        width: 260px;
        margin: 7px 39%;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        border-radius: 10px;
        padding: 10px;
        font-weight: bold;
        box-shadow: 1px 1px 10px black;
        display: inline-block;
    }

    /*Efeito ao passar com o mouse*/
    main #desk:hover{
        background-color: rgba(0, 0, 0, 0.404);
        border: 1px solid white;
    }

    main #ambos:hover{
        background-color: rgba(0, 0, 0, 0.404);
        border: 1px solid white;
    }
 
    main #web:hover{
        background-color: rgba(0, 0, 0, 0.404);
        border: 1px solid white;
    }

    /*Botao de voltar*/
    #voltar{
        text-align: center;
        background-color: white;
        width: 60px;
        margin: 30px 5%;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        border-radius: 10px;
        padding: 10px;
        font-weight: bold;
        box-shadow: 1px 1px 10px black;
        display: inline-block;
    }

    main #voltar:hover{
        background-color: rgba(0, 0, 0, 0.404);
        border: 1px solid white;
        color: white;
    }

    footer{
        background-color: var(--cor1);
        color:white;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        padding: 5px;
    }


